@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

:root {

  --primaryColor: #8b57ec;
  --accentColor: #f1f1f1;
  --darkColor: #2c203b;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: var(--primaryColor);
  background: linear-gradient(
    0deg,
    var(--darkColor) 0%,
    var(--primaryColor) 100%
  );
  color: var(--darkColor)
}

h2 {
  color: var(--primaryColor);
  font-size: larger;
  text-align: center;
  font-weight: 600;
}

p {
  color: var(--darkColor);
  font-weight: bold;
}

input{
  color: var(--primaryColor);
  background-color: transparent;
  border:none;
  border-bottom: solid 1px var(--primaryColor);
  padding-inline: 0.2rem;
  padding-bottom: 0.2rem;
}


.container{
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 14px;
  padding: 3rem;
  margin-inline: auto;
  width: 100%;
  max-width: 300px;
  background-color: var(--accentColor);
}

.inputContainer{
  display: flex;
  flex-direction: column;
  margin-block: 1.3rem;
  gap: 1rem;
}

:focus {
  outline: none;
}

.bottomForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.copyright {
  color: var(--primaryColor);
  margin-top: 2rem;
  text-align: center;
}

